<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer  id="iiif-viewer"
                        [object]="object"
                        [searchable]="iiifSearchEnabled"
                        [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>
<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
    <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <!-- <ng-container *ngIf="!mediaViewer.image">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <ng-container *ngIf="mediaViewer.image">
      <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
    </ng-container>
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section> -->

        <!-- mohamed start edit -->
        <!-- <div class="desktop-mode">
          <ds-item-files-section [item]="object"></ds-item-files-section>
        </div>

        <div class="mobile-mode">
          <div *ngIf="!fileUrl">
            <ds-item-files-section  [item]="object"></ds-item-files-section>
          </div>
          <ds-media-viewer-switcher [item]="object"></ds-media-viewer-switcher>
        </div> -->

        <ds-item-files-section [item]="object"></ds-item-files-section>
   
    <!-- mohamed end edit -->
    <div>
      <a *ngIf="object?.firstMetadata('dc.rights')" href="{{object?.firstMetadata('dc.rights.uri')?.value}}/deed.{{locale}}" rel="noopener" target="_blank" class="rights-statement-button attribution mr-auto" data-v-4daef65b="" data-qa="provider name">
        <span data-qa="rights statement" class="license-label d-inline-flex align-items-center" data-v-4daef65b="">
        
          <span class="license-label-text"
          [innerHTML]="('search.filters.rights.' +
          object?.firstMetadata('dc.rights')?.value | translate: {default:
          object?.firstMetadata('dc.rights')?.value}
          )">
        </span>
    </span>
   </a>
  </div>
  <br>
     <ds-generic-item-page-field [item]="object"
    [fields]="['dc.type.media']"
    [label]="'item.page.media'">
    </ds-generic-item-page-field>

 <ds-generic-item-page-field [item]="object"
    [fields]="['dc.type.use']"
    [label]="'item.page.use'">
    </ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
    [fields]="['dc.format.filetype']"
    [label]="'item.page.filetype'">
    </ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
    [fields]="['dc.format.color']"
    [label]="'item.page.color'">
    </ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
    [fields]="['dc.format.imagesize']"
    [label]="'item.page.imagesize'">
    </ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
    [fields]="['dc.format.imageorientation']"
    [label]="'item.page.imageorientation'">
    </ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
    [fields]="['dc.format.itemquality']"
    [label]="'item.page.itemquality'">
    </ds-generic-item-page-field>
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.date.issuedhijri']"
    [label]="'item.page.issuedhijri'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.date.registration']"
    [label]="'item.page.registration'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.date.defense']"
    [label]="'item.page.defense'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field class="ds-item-page-mixed-author-field"
      [item]="object"
      [fields]="['dc.contributor.author', 'dc.creator']"
      [label]="'relationships.isAuthorOf'">
    </ds-generic-item-page-field>
    
    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.contributor.authoralternative']"
    [label]="'item.page.authoralternative'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.contributor.nickname']"
      [label]="'item.page.nickname'">
      </ds-generic-item-page-field>

   <ds-generic-item-page-field class="ds-item-page-mixed-author-field"
    [item]="object"
    [fields]="['dc.contributor.advisor']"
    [label]="'item.page.advisor'">
  </ds-generic-item-page-field>

  <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
  [parentItem]="object"
  [itemType]="'Person'"
  [metadataFields]="['dc.contributor.other']"
  [label]="'item.page.other' | translate">
</ds-metadata-representation-list>


 <ds-generic-item-page-field [item]="object"
    [fields]="['dc.contributor.advisoralternative']"
    [label]="'item.page.advisoralternative'">
    </ds-generic-item-page-field>

    <ds-metadata-representation-list 
    [parentItem]="object"
    [itemType]="'Person'"
    [metadataFields]="['dc.contributor.member']"
    [label]="'item.page.member' | translate">
  </ds-metadata-representation-list>

    <!-- <ds-generic-item-page-field [item]="object"
      [fields]="['journal.title']"
      [label]="'publication.page.journal-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.identifier.issn']"
      [label]="'publication.page.journal-issn'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journalvolume.identifier.name']"
      [label]="'publication.page.volume-title'">
    </ds-generic-item-page-field> -->

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.source']"
    [label]="'item.page.source'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher']"
      [label]="'publication.page.publisher'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-7">
       <!-- mohamed start edit -->
       <!-- <div class="desktop-mode">
        <ds-media-viewer-switcher [item]="object"></ds-media-viewer-switcher>
       </div>
      -->
      <ds-media-viewer-switcher></ds-media-viewer-switcher>
        <!-- mohamed end edit -->
    <!-- <ds-pdf-viewer [item]="object"></ds-pdf-viewer> -->
    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
    <ds-item-page-description-field [item]="object"></ds-item-page-description-field>
    <!-- <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'publication.page.description'">
    </ds-generic-item-page-field> -->

        <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description.recommendations']"
      [label]="'publication.page.recommendations'">
    </ds-generic-item-page-field>


    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.language.iso']"
    [label]="'item.page.language'">
    </ds-generic-item-page-field>

    <!-- <ds-generic-item-page-field [item]="object"
    [fields]="['dc.source']"
    [label]="'item.page.source'">
    </ds-generic-item-page-field> -->

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.source.country']"
    [label]="'item.page.country'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.type']"
    [label]="'item.page.type'">
    </ds-generic-item-page-field>


    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.relation.university']"
    [label]="'item.page.university'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.relation.college']"
    [label]="'item.page.college'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.relation.oldCollege']"
    [label]="'item.page.oldCollege'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.relation.department']"
    [label]="'item.page.department'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.relation.oldDepartment']"
    [label]="'item.page.oldDepartment'">
    </ds-generic-item-page-field>

   <ds-generic-item-page-field [item]="object"
    [fields]="['dc.relation.specialization']"
    [label]="'item.page.specialization'">
    </ds-generic-item-page-field>


    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.subject.degree']"
    [label]="'item.page.degree'">
    </ds-generic-item-page-field>


    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.source.edition']"
    [label]="'item.page.edition'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.title.alternative']"
    [label]="'item.page.alternative'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.type.status']"
    [label]="'item.page.status'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.publisher.country']"
    [label]="'item.page.country'">
    </ds-generic-item-page-field>


    <!-- مصحف -->
    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.identifier.saveNumber']"
    [label]="'item.page.saveNumber'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.format.extent']"
    [label]="'item.page.extent'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.identifier.ddc']"
    [label]="'item.page.ddc'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.format.physicalDescription']"
    [label]="'item.page.physicalDescription'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.format.decorationType']"
    [label]="'item.page.decorationType'">
    </ds-generic-item-page-field>

    <!-- مصحف -->

    <!-- كتاب نادر -->

    <ds-generic-item-page-field [item]="object"
    [fields]="['time.era']"
    [label]="'item.page.era'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['time.decade']"
    [label]="'item.page.decade'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['time.year']"
    [label]="'item.page.year'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.format.dimensions']"
    [label]="'item.page.dimensions'">
    </ds-generic-item-page-field>
    

    <!-- كتاب نادر -->

    <!-- مقتني ثمين  -->

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.contributor']"
    [label]="'item.page.contributor'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.description.bookEdition']"
    [label]="'item.page.bookEdition'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['dc.relation.ispartof']"
    [label]="'item.page.ispartof'">
    </ds-generic-item-page-field>



     <!-- مقتني ثمين  -->


          <!-- مخطوطات -->



          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.date.associated']"
          [label]="'item.page.dateAssociated'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.contributor.copier']"
          [label]="'item.page.copier'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.date.copy']"
          [label]="'item.page.dateCopy'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.format.medium']"
          [label]="'item.page.medium'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.relation.scientificmatters']"
          [label]="'item.page.scientificmatters'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.relation.pests']"
          [label]="'item.page.pests'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.relation.technicalmatters']"
          [label]="'item.page.technicalmatters'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.relation.isimage']"
          [label]="'item.page.isimage'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.format.paper']"
          [label]="'item.page.papertype'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.format.inkcolor']"
          [label]="'item.page.inkcolor'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.format.font']"
          [label]="'item.page.fonttype'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.format.numberofpapers']"
          [label]="'item.page.papersnumber'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.format.numberoflines']"
          [label]="'item.page.linesnumber'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.format.dimensions']"
          [label]="'item.page.dimensions'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.description.dottingform']"
          [label]="'item.page.dottingForm'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.description.underlining']"
          [label]="'item.page.underlining'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.format.puncturing']"
          [label]="'item.page.puncturing'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.format.decor']"
          [label]="'item.page.decor'">
          </ds-generic-item-page-field>


          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.description.introduction']"
          [label]="'item.page.introduction'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.description.conclusion']"
          [label]="'item.page.conclusion'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.description.note']"
          [label]="'item.page.note'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.description.tableofcontents']"
          [label]="'item.page.tableofcontents'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.description.usagerestrictions']"
          [label]="'item.page.usagerestrictions'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.description.maintenance']"
          [label]="'item.page.maintenance'">
          </ds-generic-item-page-field>

          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.description.isrelated']"
          [label]="'item.page.isrelated'">
          </ds-generic-item-page-field>


          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.description.statementofresponsibility']"
          [label]="'item.page.statementofresponsibility'">
          </ds-generic-item-page-field>


          <ds-generic-item-page-field [item]="object"
          [fields]="['dc.relation.isversionof']"
          [label]="'item.page.isversionof'">
          </ds-generic-item-page-field>












           <!-- مخطوطات -->


  <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
  [parentItem]="object"
  [itemType]="'Person'"
  [metadataFields]="['dc.contributor.person']"
  [label]="'item.page.person' | translate">
</ds-metadata-representation-list>


    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="','"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>
    <ds-item-page-collections [item]="object"></ds-item-page-collections>

    <!-- <ds-related-items
    [parentItem]="object"
    [relationType]="'isProjectOfPublication'"
    [label]="'relationships.isProjectOf' | translate">
  </ds-related-items>
  <ds-related-items
    [parentItem]="object"
    [relationType]="'isOrgUnitOfPublication'"
    [label]="'relationships.isOrgUnitOf' | translate">
  </ds-related-items>

  <ds-related-items
    [parentItem]="object"
    [relationType]="'isSubOrgUnitOfPublication'"
    [label]="'relationships.isSubOrgUnitOf' | translate">
  </ds-related-items>


  <ds-related-items
  [parentItem]="object"
  [relationType]="'isEventOfPublication'"
  [label]="'relationships.isEventOf' | translate">
</ds-related-items>


<ds-related-items
[parentItem]="object"
[relationType]="'isActivityOfPublication'"
[label]="'relationships.isEventOf' | translate">
</ds-related-items>


<ds-related-items
[parentItem]="object"
[relationType]="'isSeriesOfPublication'"
[label]="'relationships.isSeriesOf' | translate">
</ds-related-items>
  
  <ds-related-items
  [parentItem]="object"
  [relationType]="'isPlaceOfPublication'"
  [label]="'relationships.isPlaceOf' | translate">
</ds-related-items>

<ds-related-items
[parentItem]="object"
[relationType]="'isSiteOfPublication'"
[label]="'relationships.isSiteOf' | translate">
</ds-related-items>

  <ds-related-items
    [parentItem]="object"
    [relationType]="'isJournalIssueOfPublication'"
    [label]="'relationships.isJournalIssueOf' | translate">
  </ds-related-items> -->
    <div>
      <a class="btn btn-outline-primary" role="button" [routerLink]="[itemPageRoute + '/full']">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
