// :host {
//   footer {
//     background-color: var(--ds-footer-bg);
//     text-align: center;
//     z-index: var(--ds-footer-z-index);
//     // border-top: var(--ds-footer-border);
//     padding: var(--ds-footer-padding);

//     p {
//       margin: 0;
//     }

//     div > img {
//       height: var(--ds-footer-logo-height);
//     }


//     .top-footer {
//       background-color: var(--ds-top-footer-bg);
//       padding: var(--ds-footer-padding);
//       margin: calc(var(--ds-footer-padding) * -1);
//     }

//     .bottom-footer {
//       ul {
//         li {
//           display: inline-flex;

//           a {
//             padding: 0 calc(var(--bs-spacer) / 2);
//             color: inherit
//           }

//           &:not(:last-child) {
//             &:after {
//               content: '';
//               border-right: 1px var(--bs-secondary) solid;
//             }

//           }
//         }
//       }
//     }
//   }
// }


// ::ng-deep html[dir="rtl"] .rights{
// margin-top: .67rem !important;

// }



// .container-fluid{
//   width: 100%;
//   padding-right: 12px;
//   padding-left: 12px;
//   margin-right: auto;
//   margin-left: auto;
//  align-items: center;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;

// }




// ::ng-deep html[dir="rtl"] .social-list{
//   margin-right: -40px ;
// }



:host {
  footer {
    background-color: var(--ds-footer-bg);
    text-align: center;
    z-index: var(--ds-footer-z-index);
    border-top: var(--ds-footer-border);
    padding: var(--ds-footer-padding);

    p {
      margin: 0;
    }

    div > img {
      height: var(--ds-footer-logo-height);
    }


    .top-footer {
      background-color: var(--ds-top-footer-bg);
      padding: var(--ds-footer-padding);
      margin: calc(var(--ds-footer-padding) * -1);
    }

    .bottom-footer {
      ul {
        li {
          display: inline-flex;

          a {
            padding: 0 calc(var(--bs-spacer) / 2);
            color: inherit
          }

          &:not(:last-child) {
            &:after {
              content: '';
              border-right: 1px var(--bs-secondary) solid;
            }

          }
        }
      }
    }
  }
}