<ng-template #descTemplate>
  <span class="text-muted">
      <span class="item-list-job-title">
        <span [innerHTML]="metadataRepresentation.firstMetadataValue(['dc.description']) | kwareTranslate "></span>
      </span>
  </span>
</ng-template>
<ds-truncatable [id]="metadataRepresentation.id">
  <a [routerLink]="[itemPageRoute]"
     [innerHTML]="metadataRepresentation.getValue() | kwareTranslate"
     [ngbTooltip]="metadataRepresentation.allMetadata(['dc.description']).length > 0 ? (descTemplate | kwareTranslate) : null"></a>

     <div *ngIf="metadataRepresentation.allMetadata(['dc.relation.college']).length > 0">
      <span style="color:#207698!important ;font-size: 15px;font-weight: 600;" [innerHtml]="metadataRepresentation.firstMetadataValue('dc.relation.college') | kwareTranslate"></span>

    </div>
</ds-truncatable>
