<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <!-- <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
      <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
    </ds-metadata-field-wrapper> -->
          <!-- mohamed start edit -->
          <!-- <div class="desktop-mode">
            <ds-item-files-section [item]="object"></ds-item-files-section>
          </div>
  
          <div class="mobile-mode">
            <div *ngIf="!fileUrl">
              <ds-item-files-section  [item]="object"></ds-item-files-section>
            </div>
            <ds-media-viewer-switcher [item]="object"></ds-media-viewer-switcher>
          </div> -->
          <ds-item-files-section [item]="object"></ds-item-files-section>
     
      <!-- mohamed end edit -->
    <div *ngIf="object?.firstMetadata('dc.rights')">
      <a
        href="{{object?.firstMetadata('dc.rights.uri')?.value}}/deed.{{locale}}"
        rel="noopener" target="_blank" class="rights-statement-button
        attribution mr-auto" data-v-4daef65b="" data-qa="provider name">
        <span data-qa="rights statement" class="license-label d-inline-flex
          align-items-center" data-v-4daef65b="">

          <span class="license-label-text"
            [innerHTML]="('search.filters.rights.' +
            object?.firstMetadata('dc.rights')?.value | translate: {default:
            object?.firstMetadata('dc.rights')?.value}
            )">

          </span>
        </span>
      </a>

    </div>
    <br>
    <!-- <ds-generic-item-page-field [item]="object"
      [fields]="['publicationvolume.volumeNumber']"
      [label]="'journalvolume.page.volume'">
    </ds-generic-item-page-field> -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['creativework.datePublished']"
      [label]="'journalvolume.page.issuedate'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-7">
        <!-- mohamed start edit -->
        <!-- <div class="desktop-mode">
          <ds-media-viewer-switcher [item]="object"></ds-media-viewer-switcher>
         </div>
        -->
        <ds-media-viewer-switcher></ds-media-viewer-switcher>
          <!-- mohamed end edit -->
   <!-- <ds-pdf-viewer [item]="object"></ds-pdf-viewer> -->


    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'journalvolume.page.description'">
    </ds-generic-item-page-field>

    <ds-related-items
    [parentItem]="object"
    [relationType]="'isJournalOfVolume'"
    [label]="'relationships.isSingleJournalOf' | translate">
  </ds-related-items>
  <ds-related-items
    [parentItem]="object"
    [relationType]="'isIssueOfJournalVolume'"
    [label]="'relationships.isIssueOf' | translate">
  </ds-related-items>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute +
        '/full']">
        {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
