<a
  *ngIf="(bitstreamPath$ | async)?.routerLink.endsWith('/request-a-copy')"
  [routerLink]="(bitstreamPath$ | async)?.routerLink"
  class="file-link-container"
  [queryParams]="(bitstreamPath$ | async)?.queryParams"
>
  <span class="no-perms" *ngIf="!(canDownload$ | async)"
    ><em class="fas fa-lock fa-lg"></em
  ></span>
  <ng-container *ngTemplateOutlet="content"></ng-container>
  <span class="file-name">{{ bitstream?.name }}</span>
</a>

<a
  #selectedFileRef
  *ngIf="(bitstreamPath$ | async)?.routerLink.endsWith('/download')"
  (click)="emitMediaViewerSwitcher()"
  class="file-link-container"
>
  <img
    class="file-thumbnail"
    [src]="getIconByFileFormat()"
    alt="Image not found"
  />
  <span class="file-name">{{ bitstream?.name }}</span>
</a>
<ng-template #content>
  <ng-content></ng-content>
</ng-template>
