<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
  <div class="row">
    <div class="col-xs-12 col-md-4">



      <!-- <ng-container *ngIf="!mediaViewer.image">
        <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
          <ds-thumbnail [thumbnail]="object?.thumbnail | async"
                        [defaultImage]="'assets/images/events.png'"
                        [alt]="'thumbnail.event.alt'"
                        [placeholder]="'thumbnail.event.placeholder'"
          >
          </ds-thumbnail>
        </ds-metadata-field-wrapper>
      </ng-container>
      <ng-container *ngIf="mediaViewer.image">
        <ds-entity-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-entity-media-viewer>
      </ng-container>

      <ds-themed-entity-item-page-file-section [item]="object"></ds-themed-entity-item-page-file-section> -->
        <!-- mohamed start edit -->
        <!-- <div class="desktop-mode">
          <ds-item-files-section [item]="object"></ds-item-files-section>
        </div>

        <div class="mobile-mode">
          <div *ngIf="!fileUrl">
            <ds-item-files-section  [item]="object"></ds-item-files-section>
          </div>
          <ds-media-viewer-switcher [item]="object"></ds-media-viewer-switcher>
        </div> -->
        <ds-item-files-section [item]="object"></ds-item-files-section>
    <!-- mohamed end edit -->
      <div *ngIf="object?.firstMetadata('dc.rights')">
        <a
          href="{{object?.firstMetadata('dc.rights.uri')?.value}}/deed.{{locale}}"
          rel="noopener" target="_blank" class="rights-statement-button
          attribution mr-auto" data-v-4daef65b="" data-qa="provider name">
          <span data-qa="rights statement" class="license-label d-inline-flex
            align-items-center" data-v-4daef65b="">
  
            <span class="license-label-text"
            [innerHTML]="('search.filters.rights.' +
            object?.firstMetadata('dc.rights')?.value | translate: {default:
            object?.firstMetadata('dc.rights')?.value}
            )">
  
          </span>
          </span>
        </a>
    
    </div>
    <br>

      <ds-generic-item-page-field [item]="object"
        [fields]="['event.startDate']"
        [label]="'event.page.startDate'">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
      [fields]="['event.startHijriDate']"
      [label]="'event.page.startHijriDate'">
    </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
        [fields]="['event.startTime']"
        [label]="'event.page.startTime'">
      </ds-generic-item-page-field>


      <ds-generic-item-page-field [item]="object"
        [fields]="['event.endHijriDate']"
        [label]="'event.page.endHijriDate'">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
        [fields]="['event.endTime']"
        [label]="'event.page.endTime'">
      </ds-generic-item-page-field>


      <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['event.manger']"
      [label]="'event.page.manger' | translate">
    </ds-metadata-representation-list>
    
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
    [parentItem]="object"
    [itemType]="'Person'"
    [metadataFields]="['event.funder']"
    [label]="'event.page.funder' | translate">
  </ds-metadata-representation-list>





  <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
  [parentItem]="object"
  [itemType]="'Person'"
  [metadataFields]="['event.organizer']"
  [label]="'event.page.organizer' | translate">
</ds-metadata-representation-list>


<ds-metadata-representation-list class="ds-item-page-mixed-author-field"
[parentItem]="object"
[itemType]="'Person'"
[metadataFields]="['event.sponsor']"
[label]="'event.page.sponsor' | translate">
</ds-metadata-representation-list>


<ds-metadata-representation-list class="ds-item-page-mixed-author-field"
[parentItem]="object"
[itemType]="'Person'"
[metadataFields]="['event.contributor']"
[label]="'event.page.contributor' | translate">
</ds-metadata-representation-list>


<ds-metadata-representation-list class="ds-item-page-mixed-author-field"
[parentItem]="object"
[itemType]="'Person'"
[metadataFields]="['event.attendee']"
[label]="'event.page.attendee' | translate">
</ds-metadata-representation-list>



<ds-metadata-representation-list class="ds-item-page-mixed-author-field"
[parentItem]="object"
[itemType]="'Person'"
[metadataFields]="['event.participant']"
[label]="'event.page.participant' | translate">
</ds-metadata-representation-list>


<ds-generic-item-page-field [item]="object"
[fields]="['person.identifier.facebook']"
[label]="'person.page.facebook'">
</ds-generic-item-page-field>


<ds-generic-item-page-field [item]="object"
[fields]="['dc.identifier.twitter']"
[label]="'person.page.twitter'">
</ds-generic-item-page-field>

<ds-generic-item-page-field [item]="object"
[fields]="['dc.identifier.profile']"
[label]="'event.page.profile'">
</ds-generic-item-page-field>

  
    </div>
    <div class="col-xs-12 col-md-7">
         <!-- mohamed start edit -->
         <!-- <div class="desktop-mode">
          <ds-media-viewer-switcher [item]="object"></ds-media-viewer-switcher>
         </div>
        -->

        <ds-media-viewer-switcher></ds-media-viewer-switcher>
          <!-- mohamed end edit -->
     <!-- <ds-pdf-viewer [item]="object"></ds-pdf-viewer> -->


      

     


    <ds-generic-item-page-field [item]="object"
      [fields]="['event.duration']"
      [label]="'event.page.duration'">
    </ds-generic-item-page-field>


    <ds-generic-item-page-field [item]="object"
    [fields]="['event.audience']"
    [label]="'event.page.audience'">
  </ds-generic-item-page-field>


    <ds-generic-item-page-field [item]="object"
    [fields]="['event.about']"
    [label]="'event.page.about'">
  </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.description']"
        [label]="'event.page.description'">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
      [fields]="['event.attendee.number']"
      [label]="'event.page.attendeeNumber'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
    [fields]="['event.audience.type']"
    [label]="'event.page.audienceType'">
  </ds-generic-item-page-field>


  <ds-generic-item-page-field [item]="object"
  [fields]="['event.type']"
  [label]="'event.page.type'">
</ds-generic-item-page-field>


<ds-generic-item-page-field [item]="object"
[fields]="['event.type.status']"
[label]="'event.page.status'">
</ds-generic-item-page-field>


<ds-generic-item-page-field [item]="object"
[fields]="['dc.language.iso']"
[label]="'item.page.language'">
</ds-generic-item-page-field>


      <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="','"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    <ds-related-items
    [parentItem]="object"
    [relationType]="'isSeriesOfEvent'"
    [label]="'relationships.isSeriesOf' | translate">
  </ds-related-items>

    <ds-related-items
      [parentItem]="object"
      [relationType]="'isPlaceOfEvent'"
      [label]="'relationships.isPlaceOf' | translate">
    </ds-related-items>


    <ds-related-items
    [parentItem]="object"
    [relationType]="'isSiteOfEvent'"
    [label]="'relationships.isSiteOf' | translate">
  </ds-related-items>


  <ds-related-items
  [parentItem]="object"
  [relationType]="'isActivityOfEvent'"
  [label]="'relationships.isActivityOf' | translate">
</ds-related-items>



    <ds-related-items
    [parentItem]="object"
    [relationType]="'isEraOfEvent'"
    [label]="'relationships.isEraOf' | translate">
  </ds-related-items>

  <ds-related-items
  [parentItem]="object"
  [relationType]="'isOrgUnitOfEvent'"
  [label]="'relationships.isOrgUnitOf' | translate">
</ds-related-items>


<ds-related-items
[parentItem]="object"
[relationType]="'isAdministrationOfEvent'"
[label]="'relationships.isAdministrationOf' | translate">
</ds-related-items>




  <ds-related-items
  [parentItem]="object"
  [relationType]="'isPublicationOfEvent'"
  [label]="'relationships.isPublicationOf' | translate">
</ds-related-items>
  
  
  
      <div>
        <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']">
          {{"item.page.link.full" | translate}}
        </a>
      </div>
    </div>
    <div class="mt-5 w-100">
      <!-- <ds-tabbed-related-entities-search  [item]="object"
                                          [relationTypes]="[{
                                            label: 'isOrgUnitOfPerson',
                                            filter: 'isOrgUnitOfPerson',
                                            configuration: 'person-relationships'
                                          },
                                          {
                                            label: 'isChildOfOrgUnit',
                                            filter: 'isOrgUnitOfSubOrgUnit',
                                            configuration: 'orgunit-relationships'
                                          },
                                          {
                                            label: 'isOrgUnitOfProject',
                                            filter: 'isOrgUnitOfProject',
                                            configuration: 'project-relationships'
                                          }]">
      </ds-tabbed-related-entities-search> -->
    </div>
  </div>
  
