<h2>{{ 'info.privacy.head' | translate }}</h2>

<div *ngIf="currentLocale ; else elseBlock" >
  <div>
    <br>
    <h3>INTRODUCTION</h3>
    
    <p>Saudi Digital Library   is a private, non-profit university and a company limited by guarantee duly registered under the laws of Ghana. Our mission is to educate a new generation of ethical, entrepreneurial leaders in Africa; to cultivate in our students the critical thinking skills, the concern for others, and the courage it will take to transform their continent.</p>
    <p>At Saudi Digital Library , we value the importance of our supporters’ privacy and are committed to protecting it. We will do our best to protect the security of your data and will never sell or share your data with any other organization for marketing purposes.</p>
    <p>This Privacy Policy describes how we collect, use, and disclose and protect your personal data.</p>
  </div>

  <div>
    <br>
    <h3>Why does Saudi Digital Library  collect personal data?</h3>
    
    <p>Saudi Digital Library  collects and uses personal data to support our legitimate interest, as a nonprofit organization, in furthering our mission. We may collect and store data on individuals who have interacted with or given to Saudi Digital Library  in the past, who are employed by organizations which support Saudi Digital Library , or who have a strong alignment with Saudi Digital Library ’s mission, among others, because we believe these activities to be in line with our mission of building a global community of support for Saudi Digital Library . We may store information collected in alignment with these goals for as long as we deem it beneficial to our organization.</p>
    <p>Our legitimate interest in furthering our mission does not automatically override your interests, and we will not use your personal data for activities where our interests are overridden by the impact on you (unless we have your consent or are otherwise required or permitted to by law). Your personal data will not be used for the purposes of automated decision making or profiling which produces a legal or otherwise significant effect on you.</p>
    <p>Please read this Privacy Policy carefully.</p>
  </div>

  <div>
    <br>
    <h3>What is personal data?</h3>
    
    <p>“Personal Data” includes any and all information that allows Saudi Digital Library to identify you as an individual.</p>
    <p>Personal data that Saudi Digital Library collects may include your name, email address, mailing address, telephone number, donation history, employer, and other information about your identity. We may also collect information related to your relationship with Saudi Digital Library .</p>
  </div>

  <div>
    <br>
    <h3>How does Saudi Digital Library collect my personal data?</h3>
    
    <ul>
      <li>
        	Donations and correspondence: When you donate to Saudi Digital Library , we will store the information you provided to us in the course of the donation. For example, we may store the mailing address listed on a personal check or the email address given in the course of an online donation. We may also store a record of correspondence regarding Saudi Digital Library between you and a staff member, trustee, or other agents of Saudi Digital Library .
      </li>
      <li>
        	Events: Saudi Digital Library may store any personal information you provide to us while attending an Saudi Digital Library sponsored event or responding to an invitation. We frequently take photos and recordings at Saudi Digital Library events; If you participate in an Saudi Digital Library event as a panelist, presenter, or attendee, you may be captured in these materials, and your likeness stored in our records or used for promotional materials. Saudi Digital Library may also store information that you provide to an agent of Saudi Digital Library at events that are not Saudi Digital Library ‐sponsored. For example, if you exchange business cards with an Saudi Digital Library trustee at a conference, this information may be stored in our database.
      </li>
      <li>
        	Saudi Digital Library : Saudi Digital Library may store personal information on students, alumni, faculty, staff, trustees, or advisors of Saudi Digital Library , as well as on individuals that provide personal data to Saudi Digital Library in the course of a visit to Saudi Digital Library  campus.
      </li>
      <li>
        	Third parties: We may receive personal data about you from other sources, including your company/organization, professional references, publicly available sources, and other third parties. For example, we may receive your personal data via your company website, if you provide it to a donation platform such as Network for Good while making a donation to us through Saudi Digital Library  Foundation, or if it is provided to us by one of our employees or other stakeholders.
      </li>
      <li>
        	Cookies and log data: Saudi Digital Library uses cookies to gather anonymous website user data through Google Analytics, such as age, gender, and interests, and to determine the number of unique visits to Saudi Digital Library ’s website. Log data collected on web servers supply Saudi Digital Library with aggregate information about the number of visits to different pages on our website. We use log data to improve the design and content of our website. Neither cookies nor log data provide us with individualized information about you.
      </li>
    </ul>
    <p>
      Saudi Digital Library does not collect personal information from visitors to our site, unless the information is specifically provided by a visitor – for example, by subscribing to our newsletter.
    </p>
  </div>

  <div>
    <br>
    <h3>How does Saudi Digital Library use my personal data?</h3>
   
    <p>The purposes for which Saudi Digital Library may use your personal data include:</p>
    <ul>
      <li>To process donations made to Saudi Digital Library. </li>
      <li>To provide information to those who may be interested in learning more about Saudi Digital Library ’s work.</li>
      <li>To help us maintain our relationship with those who have assisted us and supported our work in the past.</li>
      <li>To personalize or otherwise improve our communications with our supporters.</li>
      <li>To conduct research and outreach to individuals or organizations who we reasonably believe may have an interest in Saudi Digital Library ’s work.</li>
      <li>To administer and improve our organization.</li>
      <li>To comply with our legal and contractual obligations.</li>
      <li>To solicit donations to support our charitable mission.</li>
      <li>To collaborate with third parties in support of our mission.</li>
    </ul>

  </div>

  <div>
    <br>
    <h3>Will Saudi Digital Library share my personal data?</h3>
    
    <p>Saudi Digital Library will never sell or rent your personal data to parties outside our organization. Occasionally, we may share your information with service providers who provide operational support to Saudi Digital Library . These partners will use your information only under our instruction, and never for their own purposes. Examples of organizations and service providers with whom Saudi Digital Library may share your data include but not limited to:</p>
    <ul>
      <li>	Communications platform</li>
      <li>	Printing press</li>
      <li>	Customer Relationship Management Systems platform</li>
    </ul>
  </div>

  <div>
    <br>
    <h3>How does Saudi Digital Library protect my data?</h3>
    
    <p>We maintain appropriate technical and organizational measures to prevent unauthorized disclosure of your personal data, and our site has security measures in place to protect the information under our control. Only authorized individuals at Saudi Digital Library or acting on Saudi Digital Library ’s behalf have access to our database.</p>
  </div>

  <div>
    <br>
    <h3>Where will my personal data be held?</h3>
    
    <p>Saudi Digital Library is headquartered in Ghana. If you are visiting our website from outside Ghana, be aware that your information may be transferred to, processed, and stored in Ghana, where our office is located. Personal data may occasionally be shared with our colleagues at Saudi Digital Library  Foundation in the Kingdom Saudi Arabia, or with members of our Board of Trustees (who may be situated anywhere in the world), if such sharing is necessary under our legitimate interest in advancing our mission.</p>
    <p>On some occasions, our use of your personal data may require express consent from you. We will never knowingly process data for a purpose which requires consent without obtaining such consent from you.</p>
    <p>For example, if you are a citizen or resident of the European Union and thus subject to the GDPR, we will not knowingly send you our e‐newsletter unless you have opted in via our online subscription form or given express written permission to Saudi Digital Library for this use.</p>
  </div>

  <div>
    <br>
    <h3>Children</h3>
    
    <p>Saudi Digital Library follows guidance from the Data Protection Act, 2012 (Act 843), Cybersecurity Act, 2020 (Act 1038) and Electronic Transactions Act, 2008 (Act 772) for compliance with Children’s Online Privacy Protection. Saudi Digital Library does not knowingly solicit or collect personal data online from children under the age of 13.</p>
  </div>

  <div>
    <br>
    <h3>YOUR RIGHTS</h3>
    
    <ul>
      <li>	You have the right to contact us to request access to the personal data we hold on you, the purposes for which that data has been processed, the period for which we intend to store it, and the identity of any third parties to whom it has been disclosed.</li>
      <li>	You have the right to request that we rectify outdated or incorrect personal data.</li>
      <li>	You have the right to restrict our use of your data.</li>
      <li>	You have the right to request that we permanently delete all of your personal data from our records.</li>
      <li>	If you believe that we have mishandled your personal data, you have the right to lodge a complaint with a supervisory authority.</li>

    </ul>
    <p>If you have subscribed to our mailing list, you have the right to opt out of receiving materials from us at any time. Please note that an “opt‐out” of our mailing list does not constitute a request to have your personal data permanently deleted from our database.</p>
    <p>If you have any questions about the content of this Privacy Policy, or wish to request that we cease holding or processing your personal data, you may contact us as at the following address:</p>
  </div>

  <div>
    
    <p>Telephone: +xxx xxx xxx xxx</p>
  <p> Email: dspace@kwareict.com</p>
  </div>




</div>







<ng-template #elseBlock>

  <div>
    <br>
    <h3>مقدمة</h3>
    
    <p>المكتبة الرقمية السعودية   . مهمتنا هي تثقيف جيل جديد من قادة الأعمال الأخلاقية في المكتبة الرقمية السعودية؛ لتنمية مهارات التفكير النقدي لدى طلابنا، والاهتمام بالآخرين، والشجاعة التي يتطلبها الأمر لتحويل وطنهم إلى الأفضل.</p>
    <p>نحن في المكتبة الرقمية السعودية نقدر أهمية خصوصية داعمينا ونلتزم بحمايتها. سنبذل قصارى جهدنا لحماية أمن بياناتك ولن نقوم ببيع بياناتك أو مشاركتها مع أي مؤسسة أخرى لأغراض تسويقية.</p>
    <p>توضح سياسة الخصوصية هذه كيفية جمع بياناتك الشخصية واستخدامها والكشف عنها وحمايتها.</p>
  </div>

  <div>
    <br>
    <h3>لماذا نقوم بجمع البيانات الشخصية؟</h3>
    
    <p>نحن نقوم بجمع البيانات الشخصية واستخدامها لدعم مصلحتنا المشروعة، كمنظمة غير ربحية، في تعزيز مهمتنا. قد نقوم بجمع وتخزين البيانات عن الأفراد الذين تفاعلوا مع المكتبة الرقمية السعودية أو تعاملوا معها في الماضي، أو الذين تم توظيفهم من قبل المؤسسات التي تدعم المكتبة الرقمية السعودية، أو الذين لديهم توافق قوي مع مهمة المكتبة الرقمية السعودية، من بين أمور أخرى، لأننا نعتقد أن هذه الأنشطة تتماشى مع مهمتنا المتمثلة في بناء مجتمع عالمي لدعم المكتبة الرقمية السعودية. قد نقوم بتخزين المعلومات التي تم جمعها بما يتماشى مع هذه الأهداف طالما أننا نعتبرها مفيدة لمؤسستنا.</p>
    <p>إن مصلحتنا المشروعة في تعزيز مهمتنا لا تتخطى  اهتماماتك تلقائيًا، ولن نستخدم بياناتك الشخصية في الأنشطة التي يتجاوز فيها التأثير عليك مصالحنا (ما لم نحصل على موافقتك أو يطلب منا القانون أو يسمح بذلك) . لن يتم استخدام بياناتك الشخصية لأغراض صنع القرار المؤتمت، أو التنميط الذي ينتج عنه تأثير قانوني أو أي تاثير ذي أهمية عليك.</p>
    <p>يرجى قراءة سياسة الخصوصية جيداً.</p>
  </div>

  <div>
    <br>
    <h3>ما هي البيانات الشخصية؟</h3>
    
    <p>تشمل "البيانات الشخصية" أي وكل المعلومات التي تسمح لالمكتبة الرقمية السعودية بالتعرف عليك كفرد.</p>
    <p>قد تتضمن البيانات الشخصية التي تجمعها المكتبة الرقمية السعودية اسمك وعنوان بريدك الإلكتروني وعنوانك البريدي ورقم هاتفك وسجل تبرعاتك وصاحب العمل وغيرها من المعلومات حول هويتك. كما قد نقوم بجمع معلومات تتعلق بعلاقتك مع المكتبة الرقمية السعودية.</p>
  </div>

  <div>
    <br>
    <h3>كيف نقوم بتجميع البيانات الشخصية؟</h3>
    
    <ul>
      <li>	التبرعات والمراسلات: عندما تقوم بالتبرع (للجامعة)، سنقوم بتخزين المعلومات التي قدمتها لنا في سياق التبرع. على سبيل المثال: قد نقوم بتخزين العنوان البريدي المدرج في الشيك الشخصي أو عنوان البريد الإلكتروني المقدم في سياق التبرع عبر الإنترنت. وقد نقوم أيضًا بتخزين سجل للمراسلات المتعلقة بـالمكتبة الرقمية السعودية بينك وبين أحد الموظفين أو الأوصياء أو غيرهم من وكلاء المكتبة الرقمية السعودية.</li>
      <li>	الأنشطة والفعاليات: قد تقوم المكتبة الرقمية السعودية بتخزين أي معلومات شخصية تقدمها لنا أثناء حضور نشاط لأو فعالية برعايتنا أو الرد على دعوة. كثيرًا ما نلتقط صورًا وتسجيلات في أنشطة وفعاليات الجامعة؛ لذا فإذا قمت بالمشاركة في أحد هذه الأنشطة والفعاليات بصفتك عضوًا في اللجنة أو مقدمًا أو حاضرًا، فقد يتم التقاطك في هذه المواد، ويتم تخزين صورتك في سجلاتنا أو استخدامها في المواد الترويجية. قد تقوم المكتبة الرقمية السعودية أيضًا بتخزين المعلومات التي تقدمها إلى وكيل المكتبة الرقمية السعودية في الأنشطة  والفعاليات التي لا تتم برعاية المكتبة الرقمية السعودية. على سبيل المثال: إذا قمت بتبادل بطاقات العمل مع أحد موظفي المكتبة الرقمية السعودية في مؤتمر ما، فقد يتم تخزين هذه المعلومات في قاعدة البيانات الخاصة بنا.</li>
      <li>	مقر المكتبة الرقمية السعودية: قد تقوم الجامعة بتخزين المعلومات الشخصية عن الطلاب أو الخريجين أو أعضاء هيئة التدريس أو الموظفين أو الأمناء أو مستشاري الجامعة، بالإضافة إلى الأفراد الذين يقدمون بيانات شخصية إلى المكتبة الرقمية السعودية أثناء زيارة الحرم الجامعي.</li>
      <li>	الأطراف الثالثة: قد نتلقى بيانات شخصية عنك من مصادر أخرى، بما في ذلك: مؤسستك، والمراجع المهنية، والمصادر المتاحة للجمهور، وأطراف ثالثة أخرى. على سبيل المثال: قد نتلقى بياناتك الشخصية عبر موقع الويب الخاص بمؤسستك، إذا قدمتها لمنصة تبرع مثلاً أثناء تقديم تبرع لنا، أو إذا تم توفيرها لنا من قبل أحد موظفينا أو أصحاب المصلحة الآخرين.</li>
      <li>	ملفات تعريف الارتباط وبيانات السجل: تستخدم المكتبة الرقمية السعودية ملفات تعريف الارتباط لجمع بيانات مستخدم موقع الويب مجهولة الهوية من خلال تحليلات جوجل Google Analytics، مثل: العمر والجنس والاهتمامات، ولتحديد عدد الزيارات الفريدة إلى موقع المكتبة الرقمية السعودية الإلكتروني. تقوم بيانات السجل التي يتم جمعها على خوادم الويب بتزويد الجامعة بمعلومات مجمعة حول عدد الزيارات إلى الصفحات المختلفة على موقعنا على الويب. ونقوم باستخدام بيانات السجل لتحسين تصميم ومحتوى موقعنا. لكن لا تقوم ملفات تعريف الارتباط أو بيانات السجل بتزويدنا بمعلومات شخصية فردية عنك.</li>
   
   </ul>
    <p>لا تقوم المكتبة الرقمية السعودية بجمع معلومات شخصية من زوار موقعنا، ما لم يتم توفير المعلومات على وجه التحديد من قبل الزائر - على سبيل المثال: من خلال الاشتراك في النشرة الإخبارية الخاصة بنا.</p>
  </div>

  <div>
    <br>
    <h3>كيف تستخدم الجامعة بياناتك الشخصية؟</h3>
    
    <p>تشمل الأغراض التي قد تستخدم الجامعة بياناتك الشخصية من أجلها ما يلي:</p>
    <ul>
     <li>معالجة التبرعات المقدمة إلى الجامعة.</li>
     <li>	توفير المعلومات لمن يهتم بمعرفة المزيد عن عمل الجامعة.</li>
     <li>	مساعدتنا في الحفاظ على علاقتنا مع من قدموا لنا المساعدة وقاموا بدعم عملنا في السابق.</li>
     <li>	إضفاء الطابع الشخصي أو تحسين اتصالاتنا مع داعمينا.</li>
     <li>	إجراء البحوث والتواصل مع الأفراد أو المؤسسات الذين نعتقد أنه قد يكون لديهم مصلحة في عمل الجامعة.</li>
     <li>	إدارة وتحسين مؤسستنا.</li>
     <li>	الامتثال لالتزاماتنا القانونية والتعاقدية.</li>
     <li>	طلب التبرعات لدعم مهمتنا الخيرية.</li>
     <li>	التعاون مع أطراف ثالثة لدعم مهمتنا.</li>
    </ul>

  </div>

  <div>
    <br>
    <h3>هل ستقوم الجامعة بمشاركة بياناتك الشخصية؟</h3>
    
    <p>لن تقوم الجامعة مطلقاً ببيع أو تأجير بياناتك الشخصية إلى أطراف خارج مؤسستنا. في بعض الأحيان، قد نشارك معلوماتك مع مزودي الخدمة الذين يقدمون الدعم التشغيلي للجامعة، حيث سيقوم هؤلاء الشركاء باستخدام معلوماتك فقط بموجب تعليماتنا، وليس لأغراضهم الخاصة أبدًا. تتضمن أمثلة المؤسسات ومقدمي الخدمات الذين قد تشارك الجامعة بياناتك معهم على سبيل المثال لا الحصر:</p>
    <ul>
      <li>	منصة الاتصالات</li>
      <li>لمطابع</li>
      <li>	منصة أنظمة إدارة علاقات العملاء</li>
    </ul>
  </div>

  <div>
    <br>
    <h3>كيف تحمي الجامعة بياناتك؟</h3>
    
    <p>نحن نحافظ على التدابير الفنية والتنظيمية المناسبة لمنع الكشف غير المصرح به عن بياناتك الشخصية، ويوجد في موقعنا تدابير أمنية لحماية المعلومات المتاحة لدينا. يمكن فقط للأفراد المصرح لهم في الجامعة أو الذين يتصرفون نيابة عن الجامعة الوصول إلى قاعدة البيانات الخاصة بنا.</p>
  </div>

  <div>
    <br>
    <h3>أين سيتم حفظ بياناتك الشخصية؟</h3>
    
    <p>يقع المقر الرئيسي الجامعة في المملكة العربية السعودية. إذا كنت تقوم بزيارة موقعنا على الإنترنت من خارج المملكة العربية السعودية، فاعلم أنه قد يتم نقل معلوماتك ومعالجتها وتخزينها في المملكة العربية السعودية، حيث يقع مكتبنا. </p>
    <p>في بعض الحالات، قد يتطلب استخدامنا لبياناتك الشخصية موافقة صريحة منك. لن نقوم أبدًا بمعالجة البيانات عن عمد لغرض يتطلب الموافقة دون الحصول على هذه الموافقة منك.
      على سبيل المثال: إذا كنت مواطنًا أو مقيمًا في الاتحاد الأوروبي وبالتالي تخضع للقانون العام لحماية البيانات (GDPR)، فلن نرسل لك عن قصد نشرتنا الإخبارية الإلكترونية إلا إذا اشتركت في نموذج الاشتراك عبر الإنترنت أو أعطيت إذنًا كتابيًا صريحًا للجامعة  للقيام بذلك.
      </p>
  </div>

  <div>
    <br>
    <h3>لأطفال</h3>
    
    <p>تتبع الجامعة إرشادات قانون حماية البيانات، 2012 (قانون 843) ، وقانون الأمن السيبراني، 2020 (قانون 1038) وقانون المعاملات الإلكترونية، 2008 (قانون 772) للامتثال لحماية خصوصية الأطفال عبر الإنترنت. لا تطلب الجامعة عن قصد أو تجمع بيانات شخصية عبر الإنترنت من الأطفال دون سن 13 عامًا.</p>
  </div>


  <div>
    <br>
    <h3>حقوقك</h3>
    

    <ul>
         
     <li>	لديك الحق في الاتصال بنا لطلب الوصول إلى البيانات الشخصية التي نحتفظ بها عنك، والأغراض التي تمت معالجة هذه البيانات من أجلها، والفترة التي نعتزم تخزينها من أجلها، وهوية أي أطراف ثالثة لها تم الكشف عنها.</li>
     <li>	لديك الحق في طلب تصحيح البيانات الشخصية القديمة أو غير الصحيحة.</li>
     <li>	لديك الحق في تقييد استخدامنا لبياناتك.</li>
     <li>	لديك الحق في طلب حذف جميع بياناتك الشخصية بشكل دائم من سجلاتنا.</li>
     <li>	إذا كنت تعتقد أننا قد أسانا التعامل مع بياناتك الشخصية، فيحق لك تقديم شكوى إلى سلطة إشرافية.</li>
     <li>	إذا كنت قد اشتركت في قائمتنا البريدية، فيحق لك إلغاء الاشتراك في تلقي المواد منا في أي وقت. يرجى ملاحظة أن "الانسحاب" من قائمتنا البريدية لا يشكل طلبًا لحذف بياناتك الشخصية نهائيًا من قاعدة بياناتنا.</li>

    </ul>
    <p>إذا كانت لديك أي أسئلة حول محتوى سياسة الخصوصية الخاصة بنا، أو ترغب في طلب التوقف عن الاحتفاظ ببياناتك الشخصية أو معالجتها، فيمكنك الاتصال بنا على العنوان التالي:</p>
  </div>

  

  <div>
    <p>الهاتف: + xxx xxx xxx xxx </p>
    <p> البريد الإلكتروني: dspace@kwareict.com</p>
  </div>

</ng-template>