nav.navbar {
  border-top: 1px var(--ds-header-navbar-border-top-color) solid;
  border-bottom: 5px var(--bs-green) solid;
  align-items: baseline;
  color: var(--ds-header-icon-color);

}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .navbar {
    width: 100%;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .reset-padding-md {
    margin-left: calc(var(--bs-spacer) / -2);
    margin-right: calc(var(--bs-spacer) / -2);
  }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
.navbar-expand-md.navbar-container {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    > .container {
      padding: 0 var(--bs-spacer);
      a.navbar-brand {
        display: none;
      }
      .navbar-collapsed {
        display: none;
      }
    }
    padding: 0;
  }
  height: 120px;
}

a.navbar-brand img {
  //  max-height: var(--ds-header-logo-height);
    width: 70px; //NU-edit
  //  height: 80px; //NU-edit




}

.navbar-nav {
  ::ng-deep a.nav-link {
    color: #fff;
    background-color: #1b3c8b !important;
  }
  ::ng-deep a.nav-link:hover {
    color: var(--ds-navbar-link-color-hover);
  }
}

 ::ng-deep ds-expandable-navbar-section ul{

    background-color: #1b3c8b !important;
  
}

nav{
  background-color: #FFF !important; //NU-edit
  position: fixed !important;
  width: 100%;


}





.ribbon-1 {
  color: #fff !important;
  position: fixed;
  background: #1b3c8b !important;
  box-shadow: 0 0 0 999px #1b3c8b !important;
  clip-path: inset(0 -100%);
}
.left {
  inset: 0 auto auto 0;
  transform-origin: 100% 0;
  transform: translate(-29.3%) rotate(-45deg);
}
.right {
  inset: 0 0 auto auto;
  transform-origin: 0 0;
  transform: translate(29.3%) rotate(45deg);
}

.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  
  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  background: #BD1550;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}



.second-nav{
  width: 100%;
    position: absolute;
    margin-top: 118px;
    background-color: #1b3c8b;
   ul{
    max-width: 950px;
    justify-content:inherit;
   }  
  
}

::ng-deep html[dir="ltr"]  {
  ul{
  max-width: 1100px !important;
  }
}



/////////////////////
/// 
/// 
/// 
/// 

// .header .navbar-brand {
//   width: 350px;
//   display: block;
//   height: auto;
//   padding: 10px 0;
// }
// .navbar-default .navbar-brand {
//   color: #777;
// }
// a:visited {
//   color: #663399;
//   text-decoration: none;
// }
// .navbar-brand {
//   float: left;
//   height: 50px;
//   padding: 15px 15px;
//   font-size: 18px;
//   line-height: 20px;
// }

// .header .logo-area {
//   overflow: hidden;
// }

// .header .logo-area .main-logo {
//   float: right;
// }
// .header .logo-area .main-logo {
//   width: 55px;
//   float: left;
//   padding-top: 0px;
// }
// img {
//   border: none;
//   -webkit-tap-highlight-color: transparent;
// }
// img {
//   vertical-align: middle;
// }
// img {
//   border: 0;
// }


// .header .logo-area .imam-info {
//   float: right;
//   text-align: center;
//   padding-left: 0;
//   padding-right: 10px;
//   margin-left: 0;
//   margin-right: 10px;
//   border-left: 0;
//   border-right: 1px solid #CCC;
// }
// .header .logo-area .imam-info {
//   float: left;
//   width: calc(100% - 85px);
//   padding-left: 10px;
//   border-left: 1px solid #CCC;
//   margin-left: 10px;
//   margin-top: 0;
//   text-align: left;
//   border-right: none;
//   margin-right: 0;
//   padding-right: 0;
// }



.navbar-brand {
  width: 600px;
  display: block;
  height: auto;
  padding: 20px 0;
}
.navbar-default .navbar-brand {
  color: #777;
}
a:visited {
  color: #663399;
  text-decoration: none;
}
.navbar-brand {
  float: left;
  height: 100px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
a, .ms-link:visited {
  color: #0072c6;
  text-decoration: none;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}



//  .logo-area {
//   overflow: hidden;
// }


 .logo-area .main-logo {
  float: right;
}
 .logo-area .main-logo {
  width: 155px;
  margin-top: -10px;
  float: left;
  padding-top: 0px;
}
img {
  border: none;
  -webkit-tap-highlight-color: transparent;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}



 .logo-area .imam-info {
  float: right;
  text-align: center;
  padding-left: 0;
  padding-right: 10px;
  margin-left: 0;
  margin-right: 10px;
  border-left: 0;
  border-right: 1px solid #CCC;
}
 .logo-area .imam-info {
  float: left;
  width: calc(100% - 200px);
  padding-left: 10px;
  border-left: 0;
  margin-left: 10px;
  margin-top: 30px;
  text-align: left;
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}







 .logo-area .imam-info h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 0;
}


 .logo-area .imam-info p {
  font-size: 12px;
}
 .logo-area .imam-info p {
  margin-top: 6px;
  font-weight: bold;
  color: black;
  font-size: 14px;
  margin-bottom: 5px;
}
p {
  margin: 0 0 10px;
}



::ng-deep html[dir="rtl"]{

  .main-logo{float: right !important;
    margin-top: -15px;
    margin-right: 58px;
  }

  .imam-info{
    float: unset !important;
    padding-right: 50px;
    margin-top: 10px !important;
  }
  .country{ margin-left: -175px !important ;}
 
.ministry{
  margin-left: -95px !important;
}

.imam-info p{
    margin-left: -193px;
  }


  .logo-area[_ngcontent-dspace-angular-c340] .imam-info[_ngcontent-dspace-angular-c340] {
    float: left;
    width: calc(100% - 500px);
    padding-left: -30px;
    border-left: 0;
    margin-left: 10px;
    margin-top: 30px;
    text-align: left;
    border-right: none;
    margin-right: 140px;
    padding-right: 0;
}
 

    
}

::ng-deep html[dir="rtl"] {
  .imam-info {
    float: left;
    width: calc(100% - 200px) !important ;
    padding-left: -30px ;
    border-left: 0;
    margin-left: 10px ;
    margin-top: 30px ;
    text-align: left;
    border-right: none;
    margin-right: 140px !important;
    padding-right: 0;
}
 

}
